.App {
  text-align: center;
}

.plus-icon, .cross-icon {
  font-size: 50px;
  cursor: pointer;
  margin: 10px;
}

.Header {
  background-color: rgba(255, 255, 255, 0.7);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(136, 38, 38);
}